.cover__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    margin: 0 auto;
    max-width: 360px;
  }

  @media (max-width: 767px) {
    .cover__subtitle {
      padding-top: calc(16px + (16 + 16 * .7) * (100vw - 320px) / 767);
      max-width: calc(288px + (72 + 72 * .7) * (100vw - 320px) / 767);
      font-size: calc(14px + (4 + 4 * .7) * (100vw - 320px) / 767);
      line-height: calc(16 / 14 * 100%);
    }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0px 16px;
  }
}