.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    list-style-type: none;
  }
  
  @media screen and (min-width: 768px) {
    .footer__links {
      margin: 0 24px 24px;
    }
  }

  @media screen and (max-width: 767px)  {
    .footer__links {
      margin: 0px 0px 48px;
      row-gap: 32px;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 320px){
    .footer__links {
      margin: 0 auto 48px 16px;
    }
  }