.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 768px) {
    .footer__copyright {
      line-height: 14px;
      margin: 0px 24px 0px auto;
    }
  }

  @media (max-width: 767px) {
    .footer__copyright {
      line-height: 100%;
      margin: 0px 24px 0px 0px;
      max-width: 186px;
    }
  }

  @media screen and (max-width: 320px) {
    .footer__copyright {
      margin: 0px 0px 24px 16px;
    }
  }